#main #header  #title {
  padding-bottom:2%;
}



/* The following allows the page to be device responsive */
@media screen and (max-width: 1400px) {
   #main #header #title {width:100%;}
}

@media screen and (max-width: 1080px) {
   #main #header #title {font-size:80%;}
   #about {width:30%;}
   #contact{width:30%;}
   ul#menu li {width:100%;}
}




/* MAIN CONTENT CSS */
#main_Container
{ 
  display: table;
  width:90%;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 0 0px 20px 0px;
  background-color: #fff3e6;
} 
/* ------------------- */
/* ------------------- */


/* SIDE BAR LEFT CSS */
#sidebar_container_left
{ 
  display:table-cell;
  width: 25%;
  border:2px solid black;
}

#sidebar_container_left h1 {
  font-weight:bold;
  text-align: center;
  color:#990000;
  padding-top:20px;
}

#sidebar_container_left h1 a {
  font-weight:bold;
  text-align: center;
  color:#990000;
  padding-top:20px;
  text-decoration: none;
}
/* ------------------- */
/* ------------------- */


/* SIDE BAR RIGHT CSS */
#sidebar_container_right
{ 
  display:table-cell;
  width: 25%;
  border:2px solid black;
  padding-top:20px;
}

#sidebar_container_right h1 {
  font-weight:bold;
  text-align: center;
  color:#990000;
}

#sidebar_container_right p {
  font-family:'century gothic', arial, sans-serif;;
  text-align: center;
  font-size:20px;
  font-weight:bold;
  color:#70db70;
  text-decoration: underline;
  padding-top:40px;
}
/* ------------------- */
/* ------------------- */


/* CENTER PANEL CSS */
#content_Container
{ 
  text-align: center;
  display:table-cell;
  width: 50%;
  border-top:2px solid black;
  border-bottom:2px solid black;
}

#content_Container h1 {
  font-weight:bold;
  text-align: center;
  color:#990000;
  padding-top:20px;
}
/* ------------------- */
/* ------------------- */