body {
			min-width: 630px;
		}

		#container {
			padding-left: 230px;
      padding-right: 300px;
		}

		#container .column {
			position: relative;
			float: left;
		}

		#center {
			padding: 10px 20px;
			width: 100%;
		}

		#left {
			width: 215px;
			padding: 0 15px;
			right: 280px;
			margin-left: -100%;
		}

		#right {
			width: 230px;
			padding: 0px 50px 0px 10px;
			margin-right: -100%;
		}

		#footer {
			clear: both;
		}

		/* IE hack */
		* html #left {
			left: 150px;
		}

		/* Make the columns the same height as each other */
		#container {
			overflow: hidden;
		}

		#container .column {
			padding-bottom: 1001em;
			margin-bottom: -1000em;
		}

		/* Fix for the footer */
		* html body {
			overflow: hidden;
		}

		* html #footer-wrapper {
			float: left;
			position: relative;
			width: 100%;
			padding-bottom: 10010px;
			margin-bottom: -10000px;
			background: #fff;
		}

		/* Look & Color */
		body {
			margin: 0;
			padding: 0;
			font-family:Sans-serif;
			line-height: 1.5em;
		}

		#left ul{
			list-style-type: none;
		}

		#header {
			font-size: large;
			padding: 10px 10px;
			background: #4885ED;
			padding-bottom: 100px;
		}

		#footer {
			position: fixed;
			bottom: 0px;
			left: 0px;
			right: 0px;
			font-size: large;
			padding: 0px 10px;
			background: #4885ED;
		}

		#left {
			background: #ebfbff;
		}

		#right {
			background: #ebfbff;
		}

		#center {
			background: #FFF;
		}

		#container .column {
			padding-top: 1em;
		}

		/* Creating the Navbar */
nav ul {
		  list-style: none;
		  background-color: #444;
		  text-align: center;
		  padding: 0;
		  margin: 0;
		}
nav li {
		  font-family: 'Oswald', sans-serif;
		  font-size: 1.2em;
		  line-height: 40px;
		  height: 40px;
		  border-bottom: 1px solid #888;
			display: inline-block;
			padding: 0px 15px;
		}

nav a {
		  text-decoration: none;
		  color: #fff;
		  display: block;
		  transition: .3s background-color;
		}

nav a:hover {
		  background-color: #005f5f;
		}

nav a.active {
		  background-color: #fff;
		  color: #444;
		  cursor: default;
		}

/* Style for head and foot */
.leftalign{
	float: left;
	padding: 0px 10px;
}

.rightalign{
	float: right;
	padding: 0px 10px;
	background: ;
}
