{% extends 'solarpv/base.html' %}
{% load static %}
<head>

    {% block head %}
    <title>solarPV-Register Company</title>
    {% endblock %}

</head>
<body>
{% block content %}

    <!-- Registration begin -->
        <div class="col-8 col-m-6 col-s-12 container" id="content">
        	<form name='registration' onSubmit="" id="Register" action="{% url 'registercompany' %}" method="post" autocomplete="on">
        		<h1>Register</h1>
        		<h4>Register today to recieve notifications on upcoming Events & Promotions!</h4>
        		<fieldset><br />

                    {% csrf_token %}
                    {{ form.as_p }}
                    <select name="Register" id="regDropDown" onchange="show()">
                        <option value="None">Please Choose Company Type</option>
                        <option value="regManu">Manufacturer</option>
                        <option value="regTestLab">Test Lab</option>
                    </select>

                    <script>
                        function show(){
                            var selection = document.getElementById("regDropDown").value;
                            if (selection == "regManu"){
                            document.getElementById("Register").action = "{% url 'registercompany' %}";
                            }
                            if (selection == "regTestLab"){
                            document.getElementById("Register").action = "{% url 'registertest' %}";
                            }

                        }
                    </script>

        			<p>Review your entries before Registering!</p>
        			<p>By clicking "Register Now", you agree to the <a href="#">Terms & Conditions</a>.</p>
                    <input type="submit" value="Submit" name="submit" id="demo">
                    <input type="submit" value="Reset Form">
        			<!-- button name="submit" type="submit" value="Submit" class="button" id="demo">Register Now</button>
        			<button name="reset" type="reset" class="button">Reset Form</button><br /><br /> -->
        			<p><a href="solarPV_Login.html">Already have an Account?</a></p>
        		</fieldset>
        	</form>

        	<br /><br />
        </div>
    {% endblock %}
</body>
</html>
