{% extends 'solarpv/base.html' %}
{% load static %}
<head>

	{% block head %}
	<title>solarPV-Testing Page</title>
	{% endblock %}

</head>

<body>

  {% block content %}


	<!-- Registration begin -->
		<div class="col-8 col-m-6 col-s-12 container" id="content">
			<form name='registration' id="Register" action="" method="post" enctype="multipart/form-data">
				<h1>Register Testing</h1>
				<h4>Register today to recieve notifications on upcoming Events & Promotions!</h4>
				<fieldset><br />

					{% csrf_token %}
					<h3> Upload here: </h3>

					{{ form }}

					<p>Review your entries before Registering!</p>
					<p>By clicking "Register Now", you agree to the <a href="#">Terms & Conditions</a>.</p>
					<input type="submit" value="Submit">
					<input type="submit" value="Reset Form">
				</fieldset>
			</form>

			<br /><br />

<!-- 			{% if files %}
			<ul>
			{% for file in files %}
				<li><a href="{{ file.upload.url }}">{{ file.upload.name }}</a></li>
			{% endfor %}
			</ul>
			{% else %}
				<p>No files.</p>
			{% endif %}
 -->
			<h2>Single Test Data Here</h2>


			{{ lines }}


		</div>


{% endblock %}
</body>
</html>
